<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9PMXgxpO4HATIxnXPI7L4VznLod6UTAc</string>
	<key>GCM_SENDER_ID</key>
	<string>60800149159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brody32.better</string>
	<key>PROJECT_ID</key>
	<string>betterapp-9366b</string>
	<key>STORAGE_BUCKET</key>
	<string>betterapp-9366b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60800149159:ios:9dbcaae2cb1514a217dd82</string>
</dict>
</plist>